<div class="title" style="margin-left: 25px">
    <h1>STUDENT MANAGEMENT</h1>
</div>
<div class="container-fluid">
    <div class="col-sm-5 col-xs-12">
        <form id="student-add-form">
            <h3>Add student</h3>
            <div class="form-group">
                <label for="name">Name:</label>
                <input type="text" class="form-control" id="name" name="name" required>
            </div>
            <div class="form-group">
                <label for="gender">Gender:</label>
                <select name="gender" class="form-control" id="gender">
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>
                    </select>
            </div>
            <div class="form-group">
                <label for="age">Age:</label>
                <input type="number" class="form-control" id="age" name="age" required>
            </div>
            <button type="submit" class="btn btn-primary">Add</button>
        </form>
    </div>
    <div class="col-sm-7 col-xs-12">
        <form id="student-update-form" class="form-inline">
            <h3>Update student</h3>
            <input type="hidden" class="form-control" id="id" name="id">
            <div class="form-group">
                <label for="up-name">Name:</label>
                <input type="text" class="form-control" id="up-name" name="name" required>
            </div>
            <div class="form-group">
                <label for="up-gender">Gender:</label>
                <select name="gender" class="form-control" id="up-gender">
                <option value="Male">Male</option>
                <option value="Female">Female</option>
            </select>
            </div>
            <div class="form-group">
                <label for="up-age">Age:</label>
                <input type="number" class="form-control" id="up-age" name="age" required>
            </div>
            <button type="submit" class="btn btn-success">Update</button>
            <button type="button" class="btn btn-default">Cancel</button>
        </form>
        <div id="display"></div>
    </div>
</div>