body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: linear-gradient(to right, #434343 0%, black 100%);
}

a {
  color: #00B7FF;
}

select, input {

  color: black !important;

}

.jumbotron {

    padding-left: 50px

}

.content {

  padding-top: 50px;
  padding-bottom: 50px;

}

